@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  white-space: nowrap; 
  overflow: hidden;
  display: inline-block;
  animation: marquee 20s linear infinite;
}

nav {
  width: 100vw;
}

